@model eCinema.Infrastructure.AppServices.DTOs.LoginDto
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
}
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBoxFor(x => x.Username, new { @placeholder = "Username" })
        @Html.ValidationMessageFor(x => x.Username)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Password, new { @placeholder = "Password" , type="password" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <input type="submit" value="Sign In">
}